@(message: String)

    @main("Cadastro Share4Devs") {
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center"><img height="200px" width="200px" src="@routes.Assets.versioned("images/Share4Devs.png")" alt="Logo Site"></h5>
                        <h5 class="text-muted">Preencha os campos a seguir para Cadastrar-se.</h5>
                        <form action="/cadastro/novo" id="formulario" enctype="multipart/form-data" method="post"class="form-signin">
                            @if(!message.isEmpty){
                                <span class="alert-danger">@message</span>
                            }
                            <div class="form-label-group">
                                <label for="nome">Nome</label>
                                <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome" required autofocus>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <label for="senha">Senha:</label>
                                <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha" required>
                            </div>
                            <br>
                            <button class="btn btn-lg btn-outline-success btn-block text-uppercase" type="submit">Cadastrar</button>
                            <hr class="my-4">
                            <a href="/login" class="text-primary align-content-center">Já tem uma conta? Faça login aqui!</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
            $("html").ready(function () {
                $("body").addClass("bg-dark")
            })
    </script>
    }
