@main("Share4Devs - Comparilhe seus Livros"){
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/home.css")">

    <nav class="navbar border-bottom border-secondary navbar-dark bg-dark navbar-fixed-top " >
        <div class="justify-content-lg-start d-lg-inline-flex">
            <a href="/landing"   class="navbar-brand"> <img src="@routes.Assets.versioned("images/Share4Devs2.png")" alt="Logo Site" height="100px" width="100px"></a>
            </div>
            <div class="justify-content-lg-end  d-lg-inline-flex">
                <a href="/login" class=" active nav-link ">Entrar</a>
                <a href="/cadastro/novo" class=" active nav-link text-success">Criar Conta</a>

            </div>
    </nav>
    <div >
        <h1>Share4<strong>Devs</strong></h1>


    </div>

    <br>
    <br>
    <br>
    <br>
    <br>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  
    <p class="h3 text-center text-light">Bem vindo</p>
    <p class="text-center text-light">Compartilhe seus Livros para outros desenvolvedores!</p>
    

    <script type="text/javascript">
        $("html").ready(function () {
            $("body").addClass("bg-dark")
        })
</script>
}