@main("olá") {

    <div>
        <a href="/livros">
            <h3>
                Pagina Inicial
            </h3>
        </a>
    </div>
    <div>
        <a href="/cadastro/livro">
            <h3>
                Cadastrar livro
            </h3>
        </a>
    </div>
    <div>
        <a href="/meus/livro">
            <h3>
                Meus Livros
            </h3>
        </a>
    </div>
    <div>
        <a href="/cadastro/gerenciar">
            <h3>
                Gerenciar Conta
            </h3>
        </a>
    </div>
}