@(message: String)
    @main("Logar Sistema") {
                <div class="row">
                    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                        <div class="card card-signin my-5">
                            <div class="card-body">
                                <h5 class="card-title text-center"><img height="200px" width="200px" src="@routes.Assets.versioned("images/Share4Devs.png")" alt="Logo Site"></h5>
                                @if(!message.isEmpty){
                                    <span class="alert-danger">@message</span>
                                }
                                <form action="/login/logar" method="post" class="form-signin">
                                    <div class="form-label-group">
                                        <label for="email">Email:</label>
                                        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
                                    </div>
                                    <br>
                                    <div class="form-label-group">
                                        <label for="pass">Senha:</label>
                                        <input type="password" id="pass" name="pass" class="form-control" placeholder="Senha" required>
                                    </div>
                                    <br>
                                    <br>
                                    <button class="btn btn-lg btn-outline-primary btn-block text-uppercase" type="submit">Login</button>
                                    <hr class="my-4">
                                    <a href="/cadastro/novo" class="text-primary align-content-center">Não tem Uma conta ? Clique aqui!</a>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                    $("html").ready(function () {
                        $("body").addClass("bg-dark")
                    })
            </script>
        }




