@(msg :String)
@main("Redefina sua Senha"){
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center"><img height="200px" width="200px" src="@routes.Assets.versioned("images/Share4Devs.png")" alt="Logo Site"></h5>
                        <h6>Redefinir Senha</h6>
                        @if(!msg.isEmpty){
                            <h3>@msg</h3>
                        }
                        <form action="/redefinir/senha" class="form-signin" method="post">
                            <div class="form-label-group">
                            <label for="senha">Nova Senha:
                                <input type="text" name="senha" placeholder="Nova Senha" class="form-control" id="senha">
                            </label>
                            </div>
                            <div class="form-label-group">
                            <label for="conf_senha">Comfirmar Nova Senha:
                                <input type="text" name="conf_senha" placeholder="Nova Senha" class="form-control" id="conf_senha">
                            </label>
                            </div>
                            <button class="btn btn-lg btn-outline-success btn-block text-uppercase" type="submit">Redefinir Senha</button>
                            </label>
                        </form>
                    </div>
                </div>
                <div class="card card-signin my-2">
                    <div class="media text-muted ">
                        <a href="/cadastro/gerenciar" class="btn btn-lg btn-light btn-block text-danger text-uppercase">
                            Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
            $("html").ready(function () {
                $("body").addClass("bg-dark")
            })
    </script>
}